<div class="position-fixed customizer z-top trans top-50 end-0 d-flex align-items-center">
    <div class="thumb" role="button">
        <div class="gear d-flex bg-light p-2 rounded-start shadow lh-1">
            <i class="ri-settings-5-line fs-4 text-danger"></i>
        </div>
    </div>
    <div class="color-panel d-flex flex-wrap bg-light rounded-start shadow">
        <div class="rounded-circle bg-1 p-3 m-2" data-color="orange" role="button"></div>
        <div class="rounded-circle bg-2 p-3 m-2" data-color="green" role="button"></div>
        <div class="rounded-circle bg-3 p-3 m-2" data-color="red" role="button"></div>
        <div class="rounded-circle bg-4 p-3 m-2" data-color="pink" role="button"></div>
        <div class="rounded-circle bg-5 p-3 m-2" data-color="violet" role="button"></div>
        <div class="rounded-circle bg-6 p-3 m-2" data-color="dark_blue" role="button"></div>
        <div class="rounded-circle bg-7 p-3 m-2" data-color="light_blue" role="button"></div>
        <div class="rounded-circle bg-8 p-3 m-2" data-color="yellow" role="button"></div>
        <div class="rounded-circle bg-9 p-3 m-2" data-color="brown" role="button"></div>
        <div class="rounded-circle bg-10 p-3 m-2" data-color="dark" role="button"></div>
        <div class="p-2 pt-1 w-100 border-top">
            <label for="fonts-selector">انتخاب فونت</label>
            <select class="form-select form-select-sm" id="fonts-selector" name="">
                <option value="iransans">ایران سنس</option>
                <option value="iranyekan">ایران یکان</option>
                <option value="vazir">وزیر</option>
                <option value="shabnam">شبنم</option>
            </select>
        </div>
    </div>
</div>