{% load static %}
<!--comments Start-->
<div class="testimonials-section py-md-6 pb-4" id="testimonials">
    <div class="container-md ">
        <div class="bg-light rounded-4 p-3 p-md-5 position-relative overflow-hidden ">
            <h2 class="fw-bolder h3 text-main text-center my-5 gs_reveal">نظرات مشتریان</h2>
            <i class="ri-user-voice-line tst_an im1 p-1 end-0 gs_reveal"></i>
            <i class="ri-user-voice-line tst_an im2 d-none gs_reveal d-md-block p-2 top-50 me-4 end-0 border border-main border-2 fs-5"></i>
            <div class="px-lg-5 px-md-3 testimonials position-relative">
                <div class="swiper tst_slider py-3 ">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide ">
                            <div class="row no-gutter">
                                <div class="col-5 col-sm-3 text-center mx-auto">
                                    <div class="avatar position-relative">
                                        <div class="rounded-circle bg-main p-5 top-0 start-0 position-absolute d-md-block d-none"></div>
                                        <div class="p-lg-4 position-relative p-sm-2">
                                            <img alt="avatar"
                                                    class="bg-main rounded-circle p-2 shadow"
                                                    src="{% static 'index/' %}assets/img/image-lorem-face-142.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-9 pe-sm-2 pe-lg-5 text-muted">
                                    <h5 class="fw-bold mb-3">علی کریمی</h5>
                                    <p class="small">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                                        طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                        لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف
                                        بهبود
                                        ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده،
                                        شناخت فراوان جامعه و متخصصان را می طلبد، تا با هم نظر خود را ثبت کنیم
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide ">
                            <div class="row no-gutter">
                                <div class="col-5 col-sm-3 text-center mx-auto">
                                    <div class="avatar position-relative">
                                        <div class="rounded-circle bg-main p-5 top-0 start-0 position-absolute"></div>
                                        <div class="p-lg-4 position-relative  p-2">
                                            <img alt="avatar"
                                                    class="bg-main rounded-circle p-2 shadow"
                                                    src="{% static 'index/' %}assets/img/image-lorem-face-830.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-9 pe-sm-2 pe-lg-5 text-muted">
                                    <h5 class="fw-bold mb-3">سعید کریمی</h5>
                                    <p class="small">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                                        طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                        لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف
                                        بهبود
                                        ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده،
                                        شناخت فراوان جامعه و متخصصان را می طلبد، تا با هم نظر خود را ثبت کنیم
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide ">
                            <div class="row no-gutter">
                                <div class="col-5 col-sm-3 text-center mx-auto">
                                    <div class="avatar position-relative">
                                        <div class="rounded-circle bg-main p-5 top-0 start-0 position-absolute"></div>
                                        <div class="p-lg-4 position-relative  p-2">
                                            <img alt="avatar"
                                                    class="bg-main rounded-circle p-2 shadow"
                                                    src="{% static 'index/' %}assets/img/image-lorem-face-796.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-9 pe-sm-2 pe-lg-5 text-muted">
                                    <h5 class="fw-bold mb-3">رضا کریمی</h5>
                                    <p class="small">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                                        طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                        لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف
                                        بهبود
                                        ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده،
                                        شناخت فراوان جامعه و متخصصان را می طلبد، تا با هم نظر خود را ثبت کنیم
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide ">
                            <div class="row no-gutter">
                                <div class="col-5 col-sm-3 text-center mx-auto">
                                    <div class="avatar position-relative">
                                        <div class="rounded-circle bg-main p-5 top-0 start-0 position-absolute"></div>
                                        <div class="p-lg-4 position-relative  p-2">
                                            <img alt="avatar"
                                                    class="bg-main rounded-circle p-2 shadow"
                                                    src="{% static 'index/' %}assets/img/image-lorem-face-1698.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-9 pe-sm-2 pe-lg-5 text-muted">
                                    <h5 class="fw-bold mb-3">اصغر کریمی</h5>
                                    <p class="small">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                                        طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                        لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف
                                        بهبود
                                        ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده،
                                        شناخت فراوان جامعه و متخصصان را می طلبد، تا با هم نظر خود را ثبت کنیم
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide ">
                            <div class="row no-gutter">
                                <div class="col-5 col-sm-3 text-center mx-auto">
                                    <div class="avatar position-relative">
                                        <div class="rounded-circle bg-main p-5 top-0 start-0 position-absolute"></div>
                                        <div class="p-lg-4 position-relative  p-2">
                                            <img alt="avatar"
                                                    class="bg-main rounded-circle p-2 shadow"
                                                    src="{% static 'index/' %}assets/img/image-lorem-face-1833.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-9 pe-sm-2 pe-lg-5 text-muted">
                                    <h5 class="fw-bold mb-3">فاطمه کریمی</h5>
                                    <p class="small">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                                        طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                        لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف
                                        بهبود
                                        ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده،
                                        شناخت فراوان جامعه و متخصصان را می طلبد، تا با هم نظر خود را ثبت کنیم
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-between justify-content-md-end align-items-center tstpg">

                    <div class="swiper-button-prev tst-prev position-static mx-3 d-block ">
                        <i class="ri-arrow-right-line rounded-circle border border-main text-main p-1 trans"></i>
                    </div>
                    <div class="swiper-button-next tst-next position-static mx-3 d-block ">
                        <i class="ri-arrow-left-line rounded-circle border border-main text-main p-1 trans"></i>
                    </div>
                </div>
            </div>
            <i class="ri-user-3-line tst_an im3 p-1 mt-4 gs_reveal start-0 ms-3 border border-main border-2"></i>
            <i class="ri-user-3-line tst_an im4 p-2 mt-3 gs_reveal start-50 fs-4"></i>
            <i class="ri-user-3-line tst_an im5 p-2 gs_reveal start-0 fs-4"></i>
            <i class="ri-user-3-line tst_an im6 p-2 gs_reveal mb-3 ms-5 start-0 fs-4"></i>
        </div>
    </div>
</div>
<!--comments End-->