    <!--counters start-->
    <div class="counter-section container-lg py-md-5 pb-0">
        <div class="row">
            <div class="col-6 col-md-3 mb-4">
                <div class="counter text-center cat-blg px-lg-3">
                    <div class="numbers position-relative">
                        <p class="d-inline-flex fw-bold fs-1 align-items-end justify-content-center rounded-4 py-2 px-3 px-sm-5 mb-0 py-sm-4 bg-white shadow trans">
                            <span> K </span>
                            <span class="counts" data-number="500">0</span>
                            <small>+</small>
                        </p>
                        <div class="descriptions">
                            <span class="fw-bold fs-5 pt-3 pt-md-5 pb-4 d-block">دانلود </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <div class="counter text-center cat-blg px-lg-3">
                    <div class="numbers position-relative">
                        <p class="d-inline-flex fw-bold fs-1 align-items-end justify-content-center rounded-4 py-2 px-3 px-sm-5 mb-0 py-sm-4 bg-white shadow trans">
                            <span class="counts" data-number="500">120</span>
                        </p>
                        <div class="descriptions">
                            <span class="fw-bold fs-5 pt-3 pt-md-5 pb-4 d-block">مشتری ثابت</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <div class="counter text-center cat-blg px-lg-3 ">
                    <div class="numbers position-relative">
                        <p class="d-inline-flex fw-bold fs-1 align-items-end justify-content-center rounded-4 py-2 px-3 px-sm-5 mb-0 py-sm-4 bg-white shadow trans">
                            <span class="counts" data-number="500">0</span>
                            <small>+</small>
                        </p>
                        <div class="descriptions">
                            <span class="fw-bold fs-5 pt-3 pt-md-5 pb-4 d-block">محصول ایرانی</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <div class="counter text-center cat-blg px-lg-3">
                    <div class="numbers position-relative">
                        <p class="d-inline-flex fw-bold fs-1 align-items-end justify-content-center rounded-4 py-2 px-3 px-sm-5 mb-0 py-sm-4 bg-white shadow trans">
                            <span> K </span>
                            <span class="counts" data-number="80">0</span>
                            <small>+</small>
                        </p>
                        <div class="descriptions">
                            <span class="fw-bold fs-5 pt-3 pt-md-5 pb-4 d-block">رضایت مشتری</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--Counters End-->