{% load static %}
<!-- customers Start-->
<div class="clients-section pb-5  overflow-hidden">
    <div class="row no-gutters align-items-center">
        <div class="col-12 col-md-3 col-lg-4 col-xl-5  gs_reveal gs_reveal_fromRight">
            <h2 class="fw-bolder h3 text-main text-center">مشتریان ما</h2>
        </div>
        <div class="col-12 col-md-9 col-lg-8 col-xl-7  gs_reveal gs_reveal_fromLeft">
            <div class="bg-light p-4 pe-0 client-sh">
                <div class="swiper client-slider py-3">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide ">
                            <div class="d-flex flex-column justify-content-center">
                                <a class="gray trans text-center" href="#">
                                    <img alt="client" src="{% static 'index/' %}assets/img/Asset3.png">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide ">
                            <div class="d-flex flex-column justify-content-center">
                                <a class="gray trans text-center" href="#">
                                    <img alt="client" src="{% static 'index/' %}assets/img/Asset4.png">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide ">
                            <div class="d-flex flex-column justify-content-center">
                                <a class="gray trans text-center" href="#">
                                    <img alt="client" src="{% static 'index/' %}assets/img/Asset5.png">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide ">
                            <div class="d-flex flex-column justify-content-center">
                                <a class="gray trans text-center" href="#">
                                    <img alt="client" src="{% static 'index/' %}assets/img/Asset6.png">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide ">
                            <div class="d-flex flex-column justify-content-center">
                                <a class="gray trans text-center" href="#">
                                    <img alt="client" src="{% static 'index/' %}assets/img/Asset7.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--customers End-->