<footer class="position-relative overflow-hidden">
    <div class="sm-circle-f3 border gs_parallax border-white position-absolute bg-main p-5 top-50 rounded-circle opacity-50 start-0"></div>
    <div class="sm-circle-f2 border gs_parallax border-white position-absolute bg-white p-3 mt-4 ms-5 top-0 rounded-circle opacity-50 start-0"></div>
    <div class="sm-circle-f1 border gs_parallax border-white position-absolute bg-white p-5 me-4 ms-5 top-0 rounded-circle opacity-50 end-0"></div>
    <div class="sm-circle-f0 border gs_parallax border-white position-absolute bg-white p-3 me-4 ms-5 bottom-0 rounded-circle opacity-50 end-0"></div>
    <div class="container-lg border-end border-start border-3 border-white position-relative text-white border-none pt-5 pb-2 ">
        <div class="sm-circle-2 d-none d-lg-block border border-3 border-white position-absolute bg-main p-2 rounded-circle"></div>
        <div class="sm-circle d-none d-lg-block p-3 position-absolute bg-white rounded-circle"></div>

        <div class="row">
            <div class="col-12 col-md-3 ps-md-5 border-bottom border-2 border-md-o gs_reveal gs_reveal_fromRight">
                <h5 class="footer-title"><span class="pb-2 fw-bold">دسترسی سریع</span></h5>
                <ul class="quick-links list-unstyled mt-4 lh-lg small">
                    <li class="mb-1">
                        <a class="underline" href="#home">
                            <span>خانه</span>
                            <svg viewBox="0 0 13 20">
                                <polyline points="0.5 19.5 3 19.5 12.5 10 3 0.5"/>
                            </svg>
                        </a>
                    </li>
                    <li class="mb-1">
                        <a class="underline" href="#options">
                            <span>امکانات</span>
                            <svg viewBox="0 0 13 20">
                                <polyline points="0.5 19.5 3 19.5 12.5 10 3 0.5"/>
                            </svg>
                        </a>
                    </li>
                    <li class="mb-1">
                        <a class="underline" href="#gallery">
                            <span>گالری</span>
                            <svg viewBox="0 0 13 20">
                                <polyline points="0.5 19.5 3 19.5 12.5 10 3 0.5"/>
                            </svg>
                        </a>
                    </li>
                    <li class="mb-1">
                        <a class="underline" href="#testimonials">
                            <span>نظرات مشتریان</span>
                            <svg viewBox="0 0 13 20">
                                <polyline points="0.5 19.5 3 19.5 12.5 10 3 0.5"/>
                            </svg>
                        </a>
                    </li>
                    <li class="mb-1">
                        <a class="underline" href="#plans">
                            <span>تعرفه ها</span>
                            <svg viewBox="0 0 13 20">
                                <polyline points="0.5 19.5 3 19.5 12.5 10 3 0.5"/>
                            </svg>
                        </a>
                    </li>
                    <li class="mb-1">
                        <a class="underline" href="#team">
                            <span>تیم ما</span>
                            <svg viewBox="0 0 13 20">
                                <polyline points="0.5 19.5 3 19.5 12.5 10 3 0.5"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-6 p-0 p-md-1  gs_reveal ">
                <h5 class="footer-title text-center pb-2 fw-bold"><span class="">درباره ما </span></h5>
                <div class="bg-semi-dark p-2 p-md-5 rounded-4 lh-lg mb-5 mt-4 fw-light">
                    <p>
                        این یک نوشته آزمایشی است که به طراحان و برنامه نویسان کمک میکند تا این عزیزان با بهره گیری از
                        این نوشته تستی و آزمایشی بتوانند نمونه تکمیل شده از پروژه و طرح خودشان را به کارفرما نمایش دهند.
                        این متن جایگاه جایگذاری مطلبی در مورد درباره ما است که می توانید با متنی کوتاه در معرفی برند خود
                        یا محصول یا شرکت خود اینجا را پر کنید.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-3 order-first pe-md-5 order-md-last mb-3 border-bottom border-2 border-md-o gs_reveal gs_reveal_fromLeft">
                <h5 class="footer-title text-md-end"><span class=" pb-2 fw-bold"> ما را دنبال کنید </span>
                </h5>
                <ul class="socials list-unstyled mt-4 pt-2 text-md-end">
                    <li>
                        <a class="p-1 rounded-circle trans" data-bs-placement="left" data-bs-toggle="tooltip" href="#"
                           title="توییتر">
                            <i class="ri-twitter-line fs-4 align-middle"></i>
                        </a>
                    </li>
                    <li>
                        <a class="p-1 rounded-circle trans" data-bs-placement="left" data-bs-toggle="tooltip" href="#"
                           title="فیسبوک">
                            <i class="ri-facebook-circle-line fs-4 align-middle"></i>
                        </a>
                    </li>
                    <li>
                        <a class="p-1 rounded-circle trans" data-bs-placement="left" data-bs-toggle="tooltip" href="#"
                           title="تلگرام">
                            <i class="ri-telegram-line fs-4 align-middle"></i>
                        </a>
                    </li>
                    <li>
                        <a class="p-1 rounded-circle trans" data-bs-placement="left" data-bs-toggle="tooltip" href="#"
                           title="اینستاگرام">
                            <i class="ri-instagram-line fs-4 align-middle"></i>
                        </a>

                    </li>
                    <li>
                        <a class="p-1 rounded-circle trans" data-bs-placement="left" data-bs-toggle="tooltip" href="#"
                           title="واتسآپ">
                            <i class="ri-whatsapp-line fs-4 align-middle"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 text-center px-md-5 mt-md-3 order-last">
                <div class="small fw-light pt-2 border-top">تمامی حقوق برای <strong class="fw-bold">استودیو
                    لیمو</strong> © محفوظ است
                </div>
            </div>
        </div>
    </div>
</footer>