{% load static %}
<!--gallery Start-->
<div class="gallery-section position-relative overflow-hidden py-5" id="gallery">
    <div class="container-lg ">
        <div class="gallery-section py-6 ">
            <div class="row">
                <div class="col-12 py-5 gs_reveal gs_reveal_fromRight">
                    <h2 class="fw-bolder h3 text-main text-center">گالری</h2>
                </div>
                <div class="col-12">
                    <div class="swiper gallery_slider text-muted lh-lg">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="row no-gutter align-items-center">
                                    <div class="col-12 col-md-6 gs_reveal gs_reveal_fromRight">
                                        <img alt="gallery-slide" class="rounded-4"
                                                data-fancybox="gallery" src="{% static 'index/' %}assets/img/nature-1.jpg">
                                    </div>
                                    <div class="col-12 col-md-6 p-3 gs_reveal gs_reveal_fromLeft">
                                        <h4 class="fw-bold mb-4">قسمت اول</h4>
                                        <p>
                                            این توضیحات مربوط به قسمت اول از تصاویر است با شما میتوانید هر متنی را
                                            در
                                            این قسمت به عنوان متن توضیح تصویر کناری قرار دهید
                                        </p>
                                        <button class="btn btn-outline-main mt-4 shadow-none">همه تصاویر</button>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="row no-gutter align-items-center">
                                    <div class="col-12 col-md-6 gs_reveal gs_reveal_fromRight">
                                        <img alt="gallery-slide" class="rounded-4"
                                                data-fancybox="gallery" src="{% static 'index/' %}assets/img/nature-2.jpg">
                                    </div>
                                    <div class="col-12 col-md-6 p-3 gs_reveal gs_reveal_fromLeft">
                                        <h4 class="fw-bold mb-4">قسمت دوم</h4>
                                        <p>این توضیحات مربوط به قسمت اول از تصاویر است با شما میتوانید هر متنی را در
                                            این
                                            قسمت به
                                            عنوان متن توضیح تصویر کناری قرار دهید</p>
                                        <button class="btn btn-outline-main mt-4 shadow-none">همه تصاویر</button>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="row no-gutter align-items-center">
                                    <div class="col-12 col-md-6 gs_reveal gs_reveal_fromRight">
                                        <img alt="gallery-slide" class="rounded-4"
                                                data-fancybox="gallery" src="{% static 'index/' %}assets/img/nature-3.jpg">
                                    </div>
                                    <div class="col-12 col-md-6 p-3 gs_reveal gs_reveal_fromLeft">
                                        <h4 class="fw-bold mb-4">قسمت سوم</h4>
                                        <p>
                                            این توضیحات مربوط به قسمت اول از تصاویر است با شما میتوانید هر متنی را
                                            در
                                            این
                                            قسمت به عنوان متن توضیح تصویر کناری قرار دهید
                                        </p>
                                        <button class="btn btn-outline-main mt-4 shadow-none">همه تصاویر</button>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="row no-gutter align-items-center">
                                    <div class="col-12 col-md-6 gs_reveal gs_reveal_fromRight">
                                        <img alt="gallery-slide" class="rounded-4"
                                                data-fancybox="gallery" src="{% static 'index/' %}assets/img/nature-4.jpg">
                                    </div>
                                    <div class="col-12 col-md-6 p-3 gs_reveal gs_reveal_fromLeft">
                                        <h4 class="fw-bold mb-4">قسمت چهارم</h4>
                                        <p>
                                            این توضیحات مربوط به قسمت اول از تصاویر است با شما میتوانید هر متنی را
                                            در
                                            این
                                            قسمت به عنوان متن توضیح تصویر کناری قرار دهید
                                        </p>
                                        <button class="btn btn-outline-main mt-4 shadow-none">همه تصاویر</button>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="row no-gutter align-items-center">
                                    <div class="col-12 col-md-6 gs_reveal gs_reveal_fromRight">
                                        <img alt="gallery-slide" class="rounded-4"
                                                data-fancybox="gallery" src="{% static 'index/' %}assets/img/nature-5.jpg">
                                    </div>
                                    <div class="col-12 col-md-6 p-3">
                                        <h4 class="fw-bold mb-4">قسمت پنجم</h4>
                                        <p>
                                            این توضیحات مربوط به قسمت اول از تصاویر است با شما میتوانید هر متنی را
                                            در
                                            این
                                            قسمت به عنوان متن توضیح تصویر کناری قرار دهید
                                        </p>
                                        <button class="btn btn-outline-main mt-4 shadow-none">همه تصاویر</button>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="row no-gutter align-items-center">
                                    <div class="col-12 col-md-6 gs_reveal gs_reveal_fromRight">
                                        <img alt="gallery-slide" class="rounded-4"
                                                data-fancybox="gallery" src="{% static 'index/' %}assets/img/nature-6.jpg">
                                    </div>
                                    <div class="col-12 col-md-6 p-3">
                                        <h4 class="fw-bold mb-4">قسمت ششم</h4>
                                        <p>
                                            این توضیحات مربوط به قسمت اول از تصاویر است با شما میتوانید هر متنی را
                                            در
                                            این
                                            قسمت به عنوان متن توضیح تصویر کناری قرار دهید
                                        </p>
                                        <button class="btn btn-outline-main mt-4 shadow-none">همه تصاویر</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-12 col-md-6">
                    <div class="swiper gallery_thumbnail mt-3">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img alt="gallery-thumb" class="rounded-4" src="{% static 'index/' %}assets/img/nature-1.jpg"/>
                            </div>
                            <div class="swiper-slide">
                                <img alt="gallery-thumb" class="rounded-4" src="{% static 'index/' %}assets/img/nature-2.jpg"/>
                            </div>
                            <div class="swiper-slide">
                                <img alt="gallery-thumb" class="rounded-4" src="{% static 'index/' %}assets/img/nature-3.jpg"/>
                            </div>
                            <div class="swiper-slide">
                                <img alt="gallery-thumb" class="rounded-4" src="{% static 'index/' %}assets/img/nature-4.jpg"/>
                            </div>
                            <div class="swiper-slide">
                                <img alt="gallery-thumb" class="rounded-4" src="{% static 'index/' %}assets/img/nature-5.jpg"/>
                            </div>
                            <div class="swiper-slide">
                                <img alt="gallery-thumb" class="rounded-4" src="{% static 'index/' %}assets/img/nature-6.jpg"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sm-circle-5 d-none d-md-block border border-main position-absolute end-0 bg-white p-5 bottom-0 rounded-circle gs_parallax mb-4"></div>
</div>
<!--Gallery End-->