    <!--Options Start-->
    <div class="container-lg py-4 py-md-6 options-section mt-5 mt-md-0" id="options">
        <h2 class="fw-bolder h3 text-main text-center gs_reveal">امکانات اپلیکیشن</h2>

        <div class="swiper option-slider py-5">
            <div class="swiper-wrapper">
                <div class="swiper-slide ">
                    <div class="rounded-4 bg-light p-2 text-main text-center option-card trans">
                        <div class="d-flex flex-column justify-content-center">
                            <i class="ri-settings-4-fill display-1"></i>
                            <h5 class="fw-bold my-3">نصب خودکار</h5>
                            <p class="opacity-75 lh-base">
                                متنی مختصر جهت توضیح این امکانات در اینجا قرار می گیرید و امکانات توصیح میدهد
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <div class="rounded-4 bg-light p-2 text-main text-center option-card trans">
                        <div class="d-flex flex-column justify-content-center">
                            <i class="ri-compasses-2-line display-1"></i>
                            <h5 class="fw-bold my-3">نصب خودکار</h5>
                            <p class="opacity-75 lh-base">
                                متنی مختصر جهت توضیح این امکانات در اینجا قرار می گیرید و امکانات توصیح میدهد
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <div class="rounded-4 bg-light p-2 text-main text-center option-card trans">
                        <div class="d-flex flex-column justify-content-center">
                            <i class="ri-flashlight-fill display-1"></i>
                            <h5 class="fw-bold my-3">نصب خودکار</h5>
                            <p class="opacity-75 lh-base">
                                متنی مختصر جهت توضیح این امکانات در اینجا قرار می گیرید و امکانات توصیح میدهد
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <div class="rounded-4 bg-light p-2 text-main text-center option-card trans">
                        <div class="d-flex flex-column justify-content-center">
                            <i class="ri-rocket-line display-1"></i>
                            <h5 class="fw-bold my-3">نصب خودکار</h5>
                            <p class="opacity-75 lh-base">
                                متنی مختصر جهت توضیح این امکانات در اینجا قرار می گیرید و امکانات توصیح میدهد
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination option-pagination pt-5"></div>
        </div>
    </div>
    <!--Options End-->