    <!--plans Start-->
    <div class="container-lg price-table-section p-0 px-md-1 mt-5 pt-5" id="plans">
        <div class="py-4 price-section">
            <h2 class="fw-bolder h3 text-main text-center mb-4 gs_reveal pt-3">تعرفه پلن ها</h2>
            <div class="col-12 col-md-11 col-lg-12 col-xl-10 mx-auto gs_reveal">
                <div class="swiper price_slider py-3">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide p-2  trans">
                            <div class="price-table shadow rounded-4 overflow-hidden">
                                <div class="price-head pb-3 position-relative">
                                    <div class="vectors position-absolute top-0 end-0 w-100 h-100 ">
                                        <div class="pc-3 p_cir p-3">
                                            <div class="p-4 pc-4 border border-main r rounded-circle "></div>
                                        </div>

                                        <div class="p_cir p-4 d-flex justify-content-center mt-5 me-2 top-0 align-items-center end-0">
                                            <div class="p_cir p-3"></div>
                                        </div>
                                    </div>
                                    <div class="price-top py-3 pb-0 position-relative">
                                        <h4 class="text-center fw-bold">پلن اقصادی</h4>
                                        <p class="display-1 fw-bold text-center num mb-0">150</p>
                                        <div class="d-flex justify-content-between">
                                            <p class="p-month mb-0 px-4 py-1 fw-bold">ماهانه</p>
                                            <p class="text-end num mb-0 me-4">هزار تومان</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-content px-3 pt-5 mt-3 position-relative">
                                    <ul class="list-unstyled mb-0 option-list pt-sm-5 lh-lg">
                                        <li>
                                            <i class="ri-check-line text-white align-middle rounded-3 bg-main fs-5"></i>
                                            <span class="d-inline-block">5 گیگ پهنای باند</span>
                                        </li>
                                        <li>
                                            <i class="ri-check-line text-white align-middle rounded-3 bg-main fs-5"></i>
                                            <span class="d-inline-block">بروزرسانی رایگان</span>
                                        </li>
                                        <li>
                                            <i class="ri-check-line text-white align-middle rounded-3 bg-main fs-5"></i>
                                            <span class="d-inline-block">برندینگ</span>
                                        </li>
                                        <li>
                                            <i class="ri-check-line text-white align-middle rounded-3 bg-main fs-5"></i>
                                            <span class="d-inline-block">چاپ با وضوح بالا</span>
                                        </li>
                                        <li>
                                            <i class="ri-check-line text-white align-middle rounded-3 bg-main fs-5"></i>
                                            <span class="d-inline-block">برندینگ</span>
                                        </li>
                                        <li>
                                            <i class="ri-check-line text-white align-middle rounded-3 bg-main fs-5"></i>
                                            <span class="d-inline-block">ویژگی ها عالی دیگر</span>
                                        </li>
                                    </ul>
                                    <div class="p_cir p-5 d-flex justify-content-center top-50 align-items-center pc-2">
                                        <div class="p_cir p-4"></div>
                                    </div>
                                </div>
                                <div class="price-footer text-center py-3 position-relative">
                                    <button class="btn btn-grad px-4 text-white trans py-1">سفارش</button>
                                    <div class="p_cir p-4 d-flex justify-content-center align-items-center pc-1">
                                        <div class="p_cir p-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide p-2  trans">
                            <div class="price-table shadow rounded-4 overflow-hidden">
                                <div class="price-head pb-3 position-relative">
                                    <div class="vectors position-absolute top-0 end-0 w-100 h-100 ">
                                        <div class="pc-3 p_cir p-3">
                                            <div class="p-4 pc-4 border border-main r rounded-circle "></div>
                                        </div>

                                        <div class="p_cir p-4 d-flex justify-content-center mt-5 me-2 top-0 align-items-center end-0">
                                            <div class="p_cir p-3"></div>
                                        </div>
                                    </div>
                                    <div class="price-top py-3 pb-0 position-relative">
                                        <h4 class="text-center fw-bold trans">پلن اقصادی</h4>
                                        <p class="display-1 fw-bold text-center num trans mb-0">150</p>
                                        <div class="d-flex justify-content-between">
                                            <p class="p-month mb-0 px-4 py-1 trans fw-bold">ماهانه</p>
                                            <p class="text-end num mb-0 me-4 trans">هزار تومان</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-content px-3 pt-5 mt-3 position-relative">
                                    <ul class="list-unstyled mb-0 option-list pt-sm-5 lh-lg">
                                        <li>
                                            <i class="ri-check-line text-white align-middle rounded-3 bg-main fs-5"></i>
                                            <span class="d-inline-block">5 گیگ پهنای باند</span>
                                        </li>
                                        <li>
                                            <i class="ri-check-line text-white align-middle rounded-3 bg-main fs-5"></i>
                                            <span class="d-inline-block">بروزرسانی رایگان</span>
                                        </li>
                                        <li>
                                            <i class="ri-check-line text-white align-middle rounded-3 bg-main fs-5"></i>
                                            <span class="d-inline-block">برندینگ</span>
                                        </li>
                                        <li>
                                            <i class="ri-check-line text-white align-middle rounded-3 bg-main fs-5"></i>
                                            <span class="d-inline-block">چاپ با وضوح بالا</span>
                                        </li>
                                        <li>
                                            <i class="ri-check-line text-white align-middle rounded-3 bg-main fs-5"></i>
                                            <span class="d-inline-block">برندینگ</span>
                                        </li>
                                        <li>
                                            <i class="ri-check-line text-white align-middle rounded-3 bg-main fs-5"></i>
                                            <span class="d-inline-block">ویژگی ها عالی دیگر</span>
                                        </li>
                                    </ul>
                                    <div class="p_cir p-5 d-flex justify-content-center top-50 align-items-center pc-2">
                                        <div class="p_cir p-4"></div>
                                    </div>
                                </div>
                                <div class="price-footer text-center py-3 position-relative">
                                    <button class="btn btn-grad px-4 text-white trans py-1">سفارش</button>
                                    <div class="p_cir p-4 d-flex justify-content-center align-items-center pc-1">
                                        <div class="p_cir p-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide p-2  trans">
                            <div class="price-table shadow rounded-4 overflow-hidden">
                                <div class="price-head pb-3 position-relative">
                                    <div class="vectors position-absolute top-0 end-0 w-100 h-100 ">
                                        <div class="pc-3 p_cir p-3">
                                            <div class="p-4 pc-4 border border-main r rounded-circle "></div>
                                        </div>
                                        <div class="p_cir p-4 d-flex justify-content-center mt-5 me-2 top-0 align-items-center end-0">
                                            <div class="p_cir p-3"></div>
                                        </div>
                                    </div>
                                    <div class="price-top py-3 pb-0 position-relative">
                                        <h4 class="text-center fw-bold">پلن اقصادی</h4>
                                        <p class="display-1 fw-bold text-center num mb-0">150</p>
                                        <div class="d-flex justify-content-between">
                                            <p class="p-month mb-0 px-4 py-1 fw-bold">ماهانه</p>
                                            <p class="text-end num mb-0 me-4">هزار تومان</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-content px-3 pt-5 mt-3 position-relative">
                                    <ul class="list-unstyled mb-0 option-list pt-sm-5 lh-lg">
                                        <li>
                                            <i class="ri-check-line text-white align-middle rounded-3 bg-main fs-5"></i>
                                            <span class="d-inline-block">5 گیگ پهنای باند</span>
                                        </li>
                                        <li>
                                            <i class="ri-check-line text-white align-middle rounded-3 bg-main fs-5"></i>
                                            <span class="d-inline-block">بروزرسانی رایگان</span>
                                        </li>
                                        <li>
                                            <i class="ri-check-line text-white align-middle rounded-3 bg-main fs-5"></i>
                                            <span class="d-inline-block">برندینگ</span>
                                        </li>
                                        <li>
                                            <i class="ri-check-line text-white align-middle rounded-3 bg-main fs-5"></i>
                                            <span class="d-inline-block">چاپ با وضوح بالا</span>
                                        </li>
                                        <li>
                                            <i class="ri-check-line text-white align-middle rounded-3 bg-main fs-5"></i>
                                            <span class="d-inline-block">برندینگ</span>
                                        </li>
                                        <li>
                                            <i class="ri-check-line text-white align-middle rounded-3 bg-main fs-5"></i>
                                            <span class="d-inline-block">ویژگی ها عالی دیگر</span>
                                        </li>
                                    </ul>
                                    <div class="p_cir p-5 d-flex justify-content-center top-50 align-items-center pc-2">
                                        <div class="p_cir p-4"></div>
                                    </div>
                                </div>
                                <div class="price-footer text-center py-3 position-relative">
                                    <button class="btn btn-grad px-4 text-white trans py-1">سفارش</button>
                                    <div class="p_cir p-4 d-flex justify-content-center align-items-center pc-1">
                                        <div class="p_cir p-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide p-2  trans">
                            <div class="price-table shadow rounded-4 overflow-hidden">
                                <div class="price-head pb-3 position-relative">
                                    <div class="vectors position-absolute top-0 end-0 w-100 h-100 ">
                                        <div class="pc-3 p_cir p-3">
                                            <div class="p-4 pc-4 border border-main r rounded-circle "></div>
                                        </div>

                                        <div class="p_cir p-4 d-flex justify-content-center mt-5 me-2 top-0 align-items-center end-0">
                                            <div class="p_cir p-3"></div>
                                        </div>
                                    </div>
                                    <div class="price-top py-3 pb-0 position-relative">
                                        <h4 class="text-center fw-bold">پلن اقصادی</h4>
                                        <p class="display-1 fw-bold text-center num mb-0">150</p>
                                        <div class="d-flex justify-content-between">
                                            <p class="p-month mb-0 px-4 py-1 fw-bold">ماهانه</p>
                                            <p class="text-end num mb-0 me-4">هزار تومان</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-content px-3 pt-5 mt-3 position-relative">
                                    <ul class="list-unstyled mb-0 option-list pt-sm-5 lh-lg">
                                        <li>
                                            <i class="ri-check-line text-white align-middle rounded-3 bg-main fs-5"></i>
                                            <span class="d-inline-block">5 گیگ پهنای باند</span>
                                        </li>
                                        <li>
                                            <i class="ri-check-line text-white align-middle rounded-3 bg-main fs-5"></i>
                                            <span class="d-inline-block">بروزرسانی رایگان</span>
                                        </li>
                                        <li>
                                            <i class="ri-check-line text-white align-middle rounded-3 bg-main fs-5"></i>
                                            <span class="d-inline-block">برندینگ</span>
                                        </li>
                                        <li>
                                            <i class="ri-check-line text-white align-middle rounded-3 bg-main fs-5"></i>
                                            <span class="d-inline-block">چاپ با وضوح بالا</span>
                                        </li>
                                        <li>
                                            <i class="ri-check-line text-white align-middle rounded-3 bg-main fs-5"></i>
                                            <span class="d-inline-block">برندینگ</span>
                                        </li>
                                        <li>
                                            <i class="ri-check-line text-white align-middle rounded-3 bg-main fs-5"></i>
                                            <span class="d-inline-block">ویژگی ها عالی دیگر</span>
                                        </li>
                                    </ul>
                                    <div class="p_cir p-5 d-flex justify-content-center top-50 align-items-center pc-2">
                                        <div class="p_cir p-4"></div>
                                    </div>
                                </div>
                                <div class="price-footer text-center py-3 position-relative">
                                    <button class="btn btn-grad px-4 text-white trans py-1">سفارش</button>
                                    <div class="p_cir p-4 d-flex justify-content-center align-items-center pc-1">
                                        <div class="p_cir p-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--plans End-->