{% load static %}
    <!-- services start-->
    <div class="container-lg Portfolio-section py-5 py-md-6" id="Portfolio">
        <h2 class="fw-bolder h3 text-main text-center mb-3 mb-md-5 gs_reveal">سرویس ها و خدمات</h2>
        <div class="filter-area mb-5">
            <div class="d-flex justify-content-center flex-wrap align-items-center">
                <div class="f-b-g text-center">
                    <span data-filter="*" class="active shadow">همه</span>
                    <span data-filter=".cat-graphic">تجهیزات بتن</span>
                    <span data-filter=".cat-coding">تجهیزات سبک عمرانی</span>
                    <span data-filter=".cat-ui">تجهیزات سنگین عمرانی</span>
                    <span data-filter=".cat-ux">پمپ آب</span>
                    <span data-filter=".cat-app">اپلیکیشن</span>
                </div>
            </div>
        </div>


        <div class="row portfolios">


            <div class="col-6 element-item col-md-3 cat-graphic">
                <div class="c-p-g">
                    <div class="grid-item-inner">
                        <div class="item--featured">
                            <img src="{% static 'index/' %}assets/img/portfolio/g13-272x266.jpg" class="w-100" alt="pic">
                        </div>
                        <div class="item--holder">
                            <div class="item--meta">
                                <h5 class="item--title fw-bold">
                                    گرافیک قوی
                                </h5>
                                <div class="item--category">
                                    دسته گرافیکی
                                </div>
                            </div>
                            <div class="item--readmore">
                                <a href="{% static 'index/' %}assets/img/portfolio/g13.jpg" class="text-decoration-none"
                                   data-fancybox="portfolio">+</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6 element-item col-md-3 cat-coding">
                <div class="c-p-g">
                    <div class="grid-item-inner">
                        <div class="item--featured">
                            <img src="{% static 'index/' %}assets/img/portfolio/g14-272x266.jpg" class="w-100" alt="pic">
                        </div>
                        <div class="item--holder">
                            <div class="item--meta">
                                <h5 class="item--title fw-bold">
                                    کدینگ قوی
                                </h5>
                                <div class="item--category">
                                    دسته کدنویسی
                                </div>
                            </div>
                            <div class="item--readmore">
                                <a href="{% static 'index/' %}assets/img/portfolio/g14.jpg" class="text-decoration-none"
                                   data-fancybox="portfolio">+</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6 element-item col-md-3 cat-ui">
                <div class="c-p-g">
                    <div class="grid-item-inner">
                        <div class="item--featured">
                            <img src="{% static 'index/' %}assets/img/portfolio/g15-272x266.jpg" class="w-100" alt="pic">
                        </div>
                        <div class="item--holder">
                            <div class="item--meta">
                                <h5 class="item--title fw-bold">
                                    رابط کاربری مدرن
                                </h5>
                                <div class="item--category">
                                    دسته رابط کاربری
                                </div>
                            </div>
                            <div class="item--readmore">
                                <a href="{% static 'index/' %}assets/img/portfolio/g15.jpg" class="text-decoration-none"
                                   data-fancybox="portfolio">+</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6 element-item col-md-3 cat-ux">
                <div class="c-p-g">
                    <div class="grid-item-inner">
                        <div class="item--featured">
                            <img src="{% static 'index/' %}assets/img/portfolio/g16-272x266.jpg" class="w-100" alt="pic">
                        </div>
                        <div class="item--holder">
                            <div class="item--meta">
                                <h5 class="item--title fw-bold">
                                    تجربه کاربری مفید
                                </h5>
                                <div class="item--category">
                                    دسته تجربه کاربری
                                </div>
                            </div>
                            <div class="item--readmore">
                                <a href="{% static 'index/' %}assets/img/portfolio/g16.jpg" class="text-decoration-none"
                                   data-fancybox="portfolio">+</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6 element-item col-md-3 cat-app">
                <div class="c-p-g">
                    <div class="grid-item-inner">
                        <div class="item--featured">
                            <img src="{% static 'index/' %}assets/img/portfolio/g17-272x266.jpg" class="w-100" alt="pic">
                        </div>
                        <div class="item--holder">
                            <div class="item--meta">
                                <h5 class="item--title fw-bold">
                                    بهترین برنامه موبایل
                                </h5>
                                <div class="item--category">
                                    دسته اپلیکیشن
                                </div>
                            </div>
                            <div class="item--readmore">
                                <a href="{% static 'index/' %}assets/img/portfolio/g17.jpg" class="text-decoration-none"
                                   data-fancybox="portfolio">+</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6 element-item col-md-3 cat-graphic">
                <div class="c-p-g">
                    <div class="grid-item-inner">
                        <div class="item--featured">
                            <img src="{% static 'index/' %}assets/img/portfolio/g18-272x266.jpg" class="w-100" alt="pic">
                        </div>
                        <div class="item--holder">
                            <div class="item--meta">
                                <h5 class="item--title fw-bold">
                                    منطبق با مد روز
                                </h5>
                                <div class="item--category">
                                    دسته گرافیکی
                                </div>
                            </div>
                            <div class="item--readmore">
                                <a href="{% static 'index/' %}assets/img/portfolio/g18.jpg" class="text-decoration-none"
                                   data-fancybox="portfolio">+</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6 element-item col-md-3 cat-coding">
                <div class="c-p-g">
                    <div class="grid-item-inner">
                        <div class="item--featured">
                            <img src="{% static 'index/' %}assets/img/portfolio/g19-272x266.jpg" class="w-100" alt="pic">
                        </div>
                        <div class="item--holder">
                            <div class="item--meta">
                                <h5 class="item--title fw-bold">
                                    سئو بیس
                                </h5>
                                <div class="item--category">
                                    دسته برنامه نویسی
                                </div>
                            </div>
                            <div class="item--readmore">
                                <a href="{% static 'index/' %}assets/img/portfolio/g19.jpg" class="text-decoration-none"
                                   data-fancybox="portfolio">+</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6 element-item col-md-3 cat-ux">
                <div class="c-p-g">
                    <div class="grid-item-inner">
                        <div class="item--featured">
                            <img src="{% static 'index/' %}assets/img/portfolio/g20-272x266.jpg" class="w-100" alt="pic">
                        </div>
                        <div class="item--holder">
                            <div class="item--meta">
                                <h5 class="item--title fw-bold">
                                    یوزر فلو
                                </h5>
                                <div class="item--category">
                                    دسته تجربه کاربری
                                </div>
                            </div>
                            <div class="item--readmore">
                                <a href="{% static 'index/' %}assets/img/portfolio/g20.jpg" class="text-decoration-none"
                                   data-fancybox="portfolio">+</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6 element-item col-md-3 cat-ui">
                <div class="c-p-g">
                    <div class="grid-item-inner">
                        <div class="item--featured">
                            <img src="{% static 'index/' %}assets/img/portfolio/g21-272x266.jpg" class="w-100" alt="pic">
                        </div>
                        <div class="item--holder">
                            <div class="item--meta">
                                <h5 class="item--title fw-bold">
                                    UI  شیشه ای
                                </h5>
                                <div class="item--category">
                                    دسته رابط کاربری
                                </div>
                            </div>
                            <div class="item--readmore">
                                <a href="{% static 'index/' %}assets/img/portfolio/g21.jpg" class="text-decoration-none"
                                   data-fancybox="portfolio">+</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6 element-item col-md-3 cat-app">
                <div class="c-p-g">
                    <div class="grid-item-inner">
                        <div class="item--featured">
                            <img src="{% static 'index/' %}assets/img/portfolio/g22-272x266.jpg" class="w-100" alt="pic">
                        </div>
                        <div class="item--holder">
                            <div class="item--meta">
                                <h5 class="item--title fw-bold">
                                    آپ بهینه
                                </h5>
                                <div class="item--category">
                                    دسته اپلیکیشن
                                </div>
                            </div>
                            <div class="item--readmore">
                                <a href="{% static 'index/' %}assets/img/portfolio/g22.jpg" class="text-decoration-none"
                                   data-fancybox="portfolio">+</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
    <!-- services end-->