<!doctype html>
<html dir="rtl" lang="fa-IR">

<head>

    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, user-scalable=0' name='viewport'>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="Sash – الگوی مدیریت و داشبورد بوت استرپ 5" name="description">
    <meta content="limoostudio" name="author">
    <meta content="ادمین,داشبورد ادمین,پنل ادمین,قالب مدیریت,بوت استرپ,کلین,داشبورد,فلت,جیکوئری,مدرن,ریسپانسیو,قالب ادمین حرفه ای,داشبورد ریسپانسیو,رابط کاربری,کیت رابط کاربری."
          name="keywords">

    <!-- FAVICON -->
    <link href="../assets/images/brand/favicon.ico" rel="shortcut icon" type="image/x-icon"/>

    <!-- TITLE -->
    <title>Sash – الگوی مدیریت و داشبورد بوت استرپ 5</title>

    <!-- BOOTSTRAP CSS -->
    <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" id="style" rel="stylesheet"/>

    <!-- STYLE CSS -->
    <link href="../assets/css/style.css" rel="stylesheet"/>
    <link href="../assets/css/plugins.css" rel="stylesheet"/>
    <link href="../assets/css/dark-style.css" rel="stylesheet"/>
    <link href="../assets/css/transparent-style.css" rel="stylesheet">
    <link href="../assets/css/skin-modes.css" rel="stylesheet"/>

    <!--- FONT-ICONS CSS -->
    <link href="../assets/css/icons.css" rel="stylesheet"/>

    <!-- COLOR SKIN CSS -->
    <link href="../assets/colors/color1.css" id="theme" media="all" rel="stylesheet" type="text/css"/>
    <link href="../assets/switcher/css/switcher.css" rel="stylesheet"/>
    <link href="../assets/switcher/demo.css" rel="stylesheet"/>
    <link href="../assets/fonts/styles-fa-num/iran-yekan.css" id="fonts" rel="stylesheet">
    <link href="../assets/css/rtl.css" rel="stylesheet"/>
</head>

<body class="app sidebar-mini rtl login-img">

<div class="">

    <!-- GLOBAL-LOADER -->
    <div id="global-loader">
        <img alt="Loader" class="loader-img" src="../assets/images/loader.svg">
    </div>
    <!-- END GLOBAL-LOADER -->

    <!-- PAGE -->
    <div class="page">
        <div class="">

            <!-- CONTAINER OPEN -->
            <div class="container">
                <div class="row text-center mx-auto">
                    <div class="col-lg-8 col-sm-12 center-block align-items-center construction  ">
                        <div class="text-white">
                            <div class="card-body p-0">
                                <h1 class="display-2 mb-0 fw-semibold">به زودی</h1>
                                <div id="launch_date"></div>
                                <p>از شما پوزش می‌خواهیم... برای هر گونه مشکلی با من تماس بگیرید </p>
                                <h4><strong>تماس با:</strong> sash@demo.com</h4>
                                <div class="mt-5">
                                    <button class="btn btn-icon" type="button">
                                        <span class="btn-inner--icon"><i class="fa fa-facebook-f"></i></span>
                                    </button>
                                    <button class="btn btn-icon" type="button">
                                        <span class="btn-inner--icon"><i class="fa fa-google"></i></span>
                                    </button>
                                    <button class="btn btn-icon" type="button">
                                        <span class="btn-inner--icon"><i class="fa fa-twitter"></i></span>
                                    </button>
                                    <button class="btn btn-icon" type="button">
                                        <span class="btn-inner--icon"><i class="fa fa-pinterest-p"></i></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CONTAINER CLOSED -->
        </div>
    </div>
    <!-- END PAGE -->

</div>

<!-- JQUERY JS -->
<script src="../assets/js/jquery.min.js"></script>

<!-- BOOTSTRAP JS -->
<script src="../assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- JQUERY-COUNTDOWN JS-->
<script src="../assets/plugins/jquery-countdown/jquery.plugin.min.js"></script>
<script src="../assets/plugins/jquery-countdown/jquery.countdown.js"></script>
<script src="../assets/plugins/jquery-countdown/jquery.countdown-fa.js"></script>
<script src="../assets/plugins/jquery-countdown/countdown.js"></script>

<!-- Perfect SCROLLBAR JS-->
<script src="../assets/plugins/p-scroll/perfect-scrollbar.js"></script>

<!-- Color Theme js -->
<script src="../assets/js/themeColors.js"></script>

<!-- CUSTOM JS -->
<script src="../assets/js/custom.js"></script>

<!-- Custom-switcher -->
<script src="../assets/js/custom-swicher.js"></script>

<!-- Switcher js -->
<script src="../assets/switcher/js/switcher.js"></script>
</body>


</html>