<!doctype html>
<html dir="rtl" lang="fa-IR">

<head>

    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, user-scalable=0' name='viewport'>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="Sash – الگوی مدیریت و داشبورد بوت استرپ 5" name="description">
    <meta content="limoostudio" name="author">
    <meta content="ادمین,داشبورد ادمین,پنل ادمین,قالب مدیریت,بوت استرپ,کلین,داشبورد,فلت,جیکوئری,مدرن,ریسپانسیو,قالب ادمین حرفه ای,داشبورد ریسپانسیو,رابط کاربری,کیت رابط کاربری."
          name="keywords">

    <!-- FAVICON -->
    <link href="../assets/images/brand/favicon.ico" rel="shortcut icon" type="image/x-icon"/>

    <!-- TITLE -->
    <title>Sash – الگوی مدیریت و داشبورد بوت استرپ 5</title>

    <!-- BOOTSTRAP CSS -->
    <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" id="style" rel="stylesheet"/>

    <!-- STYLE CSS -->
    <link href="../assets/css/style.css" rel="stylesheet"/>
    <link href="../assets/css/plugins.css" rel="stylesheet"/>
    <link href="../assets/css/dark-style.css" rel="stylesheet"/>
    <link href="../assets/css/transparent-style.css" rel="stylesheet">
    <link href="../assets/css/skin-modes.css" rel="stylesheet"/>

    <!--- FONT-ICONS CSS -->
    <link href="../assets/css/icons.css" rel="stylesheet"/>

    <!-- COLOR SKIN CSS -->
    <link href="../assets/colors/color1.css" id="theme" media="all" rel="stylesheet" type="text/css"/>
    <link href="../assets/switcher/css/switcher.css" rel="stylesheet"/>
    <link href="../assets/switcher/demo.css" rel="stylesheet"/>
    <link href="../assets/fonts/styles-fa-num/iran-yekan.css" id="fonts" rel="stylesheet">
    <link href="../assets/css/rtl.css" rel="stylesheet"/>

</head>

<body class="app sidebar-mini rtl login-img">
<div class="switcher-wrapper">
    <div class="demo_changer">
        <div class="form_holder sidebar-right1">
            <div class="row">
                <div class="predefined_styles">
                    <div class="swichermainleft">
                        <h4>حالت پیمایش</h4>
                        <div class="skin-body">
                            <div class="switch_section">
                                <div class="switch-toggle d-flex">
                                    <span class="me-auto">منوی افقی</span>
                                    <p class="onoffswitch2"><input checked class="onoffswitch2-checkbox"
                                                                   id="myonoffswitch34" name="onoffswitch15"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch34"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">منوی عمودی کلیکی</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch35"
                                                                   name="onoffswitch15" type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch35"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">منوی عمودی با هاور</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch111"
                                                                   name="onoffswitch15" type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch111"></label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swichermainleft">
                        <h4>حالت چپ چین / راست چین</h4>
                        <div class="skin-body">
                            <div class="switch_section">
                                <div class="switch-toggle d-flex">
                                    <span class="me-auto">حالت چپ چین</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch23" name="onoffswitch7"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch23"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">حالت راست چین</span>
                                    <p class="onoffswitch2"><input checked class="onoffswitch2-checkbox" id="myonoffswitch24"
                                                                   name="onoffswitch7" type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch24"></label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swichermainleft">
                        <h4>حالت روشن قالب</h4>
                        <div class="skin-body">
                            <div class="switch_section">
                                <div class="switch-toggle d-flex">
                                    <span class="me-auto">قالب روشن</span>
                                    <p class="onoffswitch2"><input checked class="onoffswitch2-checkbox" id="myonoffswitch1"
                                                                   name="onoffswitch1" type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch1"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle d-flex">
                                    <span class="me-auto">رنگ اصلی در روشن</span>
                                    <div class="">
                                        <input class="w-30p h-30 input-color-picker color-primary-light" data-id="bg-color"
                                               data-id1="bg-hover" data-id2="bg-border" data-id7="transparentcolor"
                                               id="colorID" name="lightPrimary" oninput="changePrimaryColor()"
                                               type="color" value="#6c5ffc">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swichermainleft">
                        <h4>حالت تیره قالب</h4>
                        <div class="skin-body">
                            <div class="switch_section">
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">قالب تیره</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch2" name="onoffswitch1"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch2"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">رنگ اصلی در تیره</span>
                                    <div class="">
                                        <input class="w-30p h-30 input-dark-color-picker color-primary-dark"
                                               data-id="bg-color" data-id1="bg-hover" data-id2="bg-border"
                                               data-id3="primary" data-id8="transparentcolor" id="darkPrimaryColorID" name="darkPrimary"
                                               oninput="darkPrimaryColor()" type="color"
                                               value="#6c5ffc">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swichermainleft">
                        <h4>حالت شیشه ای</h4>
                        <div class="skin-body">
                            <div class="switch_section">
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">قالب شیشه ای</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitchTransparent"
                                                                   name="onoffswitch1"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitchTransparent"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">رنگ اصلی در حالت شیشه ای</span>
                                    <div class="">
                                        <input class="w-30p h-30 input-transparent-color-picker color-primary-transparent"
                                               data-id="bg-color" data-id1="bg-hover"
                                               data-id2="bg-border" data-id3="primary" data-id4="primary"
                                               data-id9="transparentcolor" id="transparentPrimaryColorID" name="tranparentPrimary"
                                               oninput="transparentPrimaryColor()" type="color" value="#6c5ffc">
                                    </div>
                                </div>
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">پس زمینه حالت شیشه ای</span>
                                    <div class="">
                                        <input class="w-30p h-30 input-transparent-color-picker color-bg-transparent"
                                               data-id5="body" data-id6="theme" data-id9="transparentcolor"
                                               id="transparentBgColorID" name="transparentBackground" oninput="transparentBgColor()" type="color"
                                               value="#6c5ffc">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swichermainleft">
                        <h4>حالت پس زمینه شیشه ای</h4>
                        <div class="skin-body switch_section">
                            <div class="switch-toggle d-flex">
                                <span class="me-auto">تصویر زمینه اصلی </span>
                                <div class="">
                                    <input class="w-30p h-30 input-transparent-color-picker color-primary-transparent"
                                           data-id="bg-color" data-id1="bg-hover"
                                           data-id2="bg-border" data-id3="primary" data-id4="primary"
                                           data-id9="transparentcolor" id="transparentBgImgPrimaryColorID" name="tranparentPrimary"
                                           oninput="transparentBgImgPrimaryColor()" type="color" value="#6c5ffc">
                                </div>
                            </div>
                            <div class="switch-toggle d-flex mt-2">
                                <a class="bg-img1" href="javascript:void(0);" onclick="bgImage(this)"><img
                                        alt="Bg-Image" id="bgimage1" src="../assets/images/media/bg-img1.jpg"></a>
                                <a class="bg-img2" href="javascript:void(0);" onclick="bgImage(this)"><img
                                        alt="Bg-Image" id="bgimage2" src="../assets/images/media/bg-img2.jpg"></a>
                                <a class="bg-img3" href="javascript:void(0);" onclick="bgImage(this)"><img
                                        alt="Bg-Image" id="bgimage3" src="../assets/images/media/bg-img3.jpg"></a>
                                <a class="bg-img4" href="javascript:void(0);" onclick="bgImage(this)"><img
                                        alt="Bg-Image" id="bgimage4" src="../assets/images/media/bg-img4.jpg"></a>
                            </div>
                        </div>
                    </div>
                    <div class="swichermainleft">
                        <h4>حالت منو</h4>
                        <div class="skin-body">
                            <div class="switch_section">
                                <div class="switch-toggle lightMenu d-flex">
                                    <span class="me-auto">منو روشن</span>
                                    <p class="onoffswitch2"><input checked class="onoffswitch2-checkbox" id="myonoffswitch3"
                                                                   name="onoffswitch2" type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch3"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle colorMenu d-flex mt-2">
                                    <span class="me-auto">رنگ منو</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch4" name="onoffswitch2"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch4"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle darkMenu d-flex mt-2">
                                    <span class="me-auto">منو تیره</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch5" name="onoffswitch2"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch5"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle gradientMenu d-flex mt-2">
                                    <span class="me-auto">منو گرادیانت</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch19" name="onoffswitch2"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch19"></label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swichermainleft">
                        <h4>حالت سربرگ</h4>
                        <div class="skin-body">
                            <div class="switch_section">
                                <div class="switch-toggle lightHeader d-flex">
                                    <span class="me-auto">سربرگ روشن</span>
                                    <p class="onoffswitch2"><input checked class="onoffswitch2-checkbox" id="myonoffswitch6"
                                                                   name="onoffswitch3" type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch6"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle  colorHeader d-flex mt-2">
                                    <span class="me-auto">سربرگ رنگی</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch7" name="onoffswitch3"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch7"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle darkHeader d-flex mt-2">
                                    <span class="me-auto">سربرگ تیره</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch8" name="onoffswitch3"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch8"></label>
                                    </p>
                                </div>

                                <div class="switch-toggle darkHeader d-flex mt-2">
                                    <span class="me-auto">سربرگ گرادیانت</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch20" name="onoffswitch3"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch20"></label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swichermainleft">
                        <h4>حالت های عرض محتوا</h4>
                        <div class="skin-body">
                            <div class="switch_section">
                                <div class="switch-toggle d-flex">
                                    <span class="me-auto">تمام عرض</span>
                                    <p class="onoffswitch2"><input checked class="onoffswitch2-checkbox" id="myonoffswitch9"
                                                                   name="onoffswitch4" type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch9"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">جعبه ای</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch10" name="onoffswitch4"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch10"></label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swichermainleft">
                        <h4>موقعیت های چیدمان</h4>
                        <div class="skin-body">
                            <div class="switch_section">
                                <div class="switch-toggle d-flex">
                                    <span class="me-auto">ثابت</span>
                                    <p class="onoffswitch2"><input checked class="onoffswitch2-checkbox" id="myonoffswitch11"
                                                                   name="onoffswitch5" type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch11"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">قابل اسکرول</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch12" name="onoffswitch5"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch12"></label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swichermainleft leftmenu-styles">
                        <h4>حالت های منوی کناری</h4>
                        <div class="skin-body">
                            <div class="switch_section">
                                <div class="switch-toggle d-flex">
                                    <span class="me-auto">منوی پیشفرض</span>
                                    <p class="onoffswitch2"><input checked class="onoffswitch2-checkbox default-menu" id="myonoffswitch13"
                                                                   name="onoffswitch6" type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch13"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">آیکن با متن</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch14" name="onoffswitch6"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch14"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">فقط آیکن</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch15" name="onoffswitch6"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch15"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">حالت بسته</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch16" name="onoffswitch6"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch16"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">نمایش زیرمنو با هاور</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch17" name="onoffswitch6"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch17"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">نمایش زیرمنو با هاور 2</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch18" name="onoffswitch6"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch18"></label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swichermainleft">
                        <h4>فونت قالب </h4>
                        <div class="skin-body mb-3">
                            <label class="text-start d-block px-3" for="font-changer"> ( اعداد فارسی ) </label>
                            <select class="form-control form-select" id="font-changer" name="font-changer">
                                <option value="iran-yekan">ایران یکان</option>
                                <option value="iran-sans">ایران سنس</option>
                                <option value="aviny">آوینی</option>
                                <option value="azarmehr">آذرمهر</option>
                                <option value="damavand">دماوند</option>
                                <option value="dastnevis">دست نویس</option>
                                <option value="dubai">دوبی</option>
                                <option value="estedad">استعداد</option>
                                <option value="helvetica-neue">هلوتیکا</option>
                                <option value="lalezar">لاله زار</option>
                                <option value="mikhak">میخک</option>
                                <option value="myriad">میریاد</option>
                                <option value="noora">نورا</option>
                                <option value="palatino-sans">پالاتینو</option>
                                <option value="pinar">پینار</option>
                                <option value="dana">دانا</option>
                                <option value="sahel">ساحل</option>
                                <option value="shabnam">شبنم</option>
                                <option value="vanda">واندا</option>
                                <option value="vazir">وزیر</option>
                            </select>
                        </div>

                        <div class="skin-body">
                            <label class="text-start d-block px-3" for="font-changer-en"> ( اعداد انگلیسی ) </label>
                            <select class="form-control form-select" id="font-changer-en" name="font-changer">
                                <option value="iran-yekan">ایران یکان</option>
                                <option value="iran-sans">ایران سنس</option>
                                <option value="aviny">آوینی</option>
                                <option value="azarmehr">آذرمهر</option>
                                <option value="damavand">دماوند</option>
                                <option value="dastnevis">دست نویس</option>
                                <option value="dubai">دوبی</option>
                                <option value="estedad">استعداد</option>
                                <option value="helvetica-neue">هلوتیکا</option>
                                <option value="lalezar">لاله زار</option>
                                <option value="mikhak">میخک</option>
                                <option value="myriad">میریاد</option>
                                <option value="noora">نورا</option>
                                <option value="palatino-sans">پالاتینو</option>
                                <option value="pinar">پینار</option>
                                <option value="dana">دانا</option>
                                <option value="sahel">ساحل</option>
                                <option value="shabnam">شبنم</option>
                                <option value="vanda">واندا</option>
                                <option value="vazir">وزیر</option>
                            </select>
                        </div>
                    </div>
                    <div class="swichermainleft">
                        <h4>بازنشانی همه تنظیمات</h4>
                        <div class="skin-body">
                            <div class="switch_section my-4">
                                <button class="btn btn-danger btn-block" onclick="localStorage.clear();
                                            document.querySelector('html').style = '';
                                            names() ;
                                            resetData() ;" type="button">بازنشانی
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BACKGROUND-IMAGE -->
<div class="">

    <!-- GLOABAL LOADER -->
    <div id="global-loader">
        <img alt="Loader" class="loader-img" src="../assets/images/loader.svg">
    </div>
    <!-- End GLOABAL LOADER -->

    <!-- PAGE -->
    <div class="page">
        <div class="">

            <!-- CONTAINER OPEN -->
            <div class="col col-login mx-auto">
                <div class="text-center">
                    <img alt="" class="header-brand-img m-0" src="../assets/images/brand/logo-white.png">
                </div>
            </div>

            <!-- CONTAINER OPEN -->
            <div class="container-login100">
                <div class="wrap-login100 p-6">
                    <form class="login100-form validate-form">
                            <span class="login100-form-title pb-5">
                                رمز عبور را فراموش کرده اید
                            </span>
                        <p class="text-muted">آدرس ایمیل ثبت شده در حساب خود را وارد کنید</p>
                        <div class="wrap-input100 validate-input input-group"
                             data-bs-validate="ایمیل معتبر لازم است: ex@abc.xyz">
                            <a class="input-group-text bg-white text-muted" href="javascript:void(0)">
                                <i aria-hidden="true" class="zmdi zmdi-email"></i>
                            </a>
                            <input class="input100 border-start-0 ms-0 form-control" placeholder="ایمیل" type="email">
                        </div>
                        <div class="submit">
                            <a class="btn btn-primary d-grid" href="index.html">ارسال</a>
                        </div>
                        <div class="text-center mt-4">
                            <p class="text-dark mb-0">فراموش کردید؟<a class="text-primary ms-1" href="login.html">رفتن
                                به صفحه ورود</a></p>
                        </div>
                        <label class="login-social-icon"><span>یا</span></label>
                        <div class="d-flex justify-content-center">
                            <a href="javascript:void(0)">
                                <div class="social-login me-4 text-center">
                                    <i class="fa fa-google"></i>
                                </div>
                            </a>
                            <a href="javascript:void(0)">
                                <div class="social-login me-4 text-center">
                                    <i class="fa fa-facebook"></i>
                                </div>
                            </a>
                            <a href="javascript:void(0)">
                                <div class="social-login text-center">
                                    <i class="fa fa-twitter"></i>
                                </div>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--END PAGE -->

</div>
<!-- BACKGROUND-IMAGE CLOSED -->

<!-- JQUERY JS -->
<!-- JQUERY JS -->
<script src="../assets/js/jquery.min.js"></script>

<!-- BOOTSTRAP JS -->
<script src="../assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- SHOW PASSWORD JS -->
<script src="../assets/js/show-password.min.js"></script>

<!-- Perfect SCROLLBAR JS-->
<script src="../assets/plugins/p-scroll/perfect-scrollbar.js"></script>

<!-- Color Theme js -->
<script src="../assets/js/themeColors.js"></script>

<!-- CUSTOM JS -->
<script src="../assets/js/custom.js"></script>

<!-- Custom-switcher -->
<script src="../assets/js/custom-swicher.js"></script>

<!-- Switcher js -->
<script src="../assets/switcher/js/switcher.js"></script>

</body>


</html>