{% extends 'layout/index/base.html' %}
{% load static %}
{% block BODY %}
{% include 'layout/index/loader.html' %}

{% include 'layout/index/header.html' %}

<main class="d-flex flex-column">
    {% include 'layout/index/hero.html' %}

    <div class="sm-circle-3 d-none border border-white position-absolute z-top bg-main p-5 top-0 rounded-circle opacity-50 start-0"></div>
    <div class="sm-circle-4 d-none border border-white position-absolute z-top end-0 bg-main p-5 bottom-0 rounded-circle opacity-50 mb-4"></div>

    {% include 'layout/index/start_now_btn.html' %}

    {% include 'layout/index/options.html' %}
    
    {% include 'layout/index/customers.html' %}

    {% include 'layout/index/gallery.html' %}

    {% include 'layout/index/comments.html' %}

    {% include 'layout/index/plans.html' %}

    {% include 'layout/index/team.html' %}

    {% include 'layout/index/counters.html' %}

    {% include 'layout/index/services.html' %}

    {% include 'layout/index/faq.html' %}

    {% include 'layout/index/contact.html' %}

</main>

{% include 'layout/index/footer.html' %}

{% include 'layout/index/color_settings.html' %}

{% block JS %}
<!--Script Libraries Start-->
<script src="{% static 'index/' %}assets/js/swiper-bundle.min.js"></script>
<script src="{% static 'index/' %}assets/js/jquery.min.js"></script>
<script src="{% static 'index/' %}assets/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'index/' %}assets/js/jquery.fancybox.min.js"></script>
<script src="{% static 'index/' %}assets/js/gsap.min.js"></script>
<script src="{% static 'index/' %}assets/js/ScrollTrigger.min.js"></script>
<script src="{% static 'index/' %}assets/js/jquery.validate.min.js"></script>
<script src="{% static 'index/' %}assets/js/isotope.pkgd.min.js"></script>
<!--Script libraries End-->
<script src="{% static 'index/' %}assets/js/script.js"></script>
{% endblock %}
{% endblock %}